---
---
@charset "utf-8"
@import 'https://fonts.googleapis.com/css?family=Lato:400,700'

html
  font-size: 12pt

body
  font-family: 'Lato', sans-serif
  font-weight: 400
  margin: 0
  display: flex
  justify-content: center
  background-color: hsl(0, 5%, 25%)

.page
  box-sizing: border-box
  width: 8.5in
  margin: 1em
  background-color: hsl(40, 3%, 90%)
  box-shadow: 0 0 1em rgba(black, 0.8)

.page-content
  margin: 0.4in

h1, h2, h3, h4, p
  margin: .3em 0

h1
  font-size: 2.441em

h2
  font-size: 1.953em

h3
  font-size: 1.563em

h4
  font-size: 1.25em
  text-decoration: underline

small
  font-size: 0.8em

body, a
  color: #444

.main
  display: flex
  justify-content: space-between

.left, .right
  box-sizing: border-box

.left
  width: 58%
  padding-right: 1em

.right
  width: 42%
  padding-left: 1em

.header
  position: relative
  h1
    margin-top: 0
  h2
    margin-bottom: 0

.contact
  position: absolute
  top: 0
  right: 2em
  a
    text-decoration: none

.skills ul
  padding: 0
  display: flex
  flex-wrap: wrap
  justify-content: space-around

.skills li
  display: block
  margin: 0.1em 0.3em

@page
  size: letter
  margin: 0.4in

@media print
  body, a
    color: black
  body
    background-color: transparent
  .page-content
    margin: 0
  .page
    margin: 0
    background-color: transparent
    box-shadow: none
